language: python

dist: jammy

#arch:
#  - amd64  # Default
#  - arm64  # No Python images yet on xenial

matrix:
  fast_finish: true
  include:
    - python:  'pypy3'
    - python:  '3.11'
    - python:  '3.11'
      dist:  focal
    - python:  '3.11'
      dist:  bionic
    - python:  '3.10'
    - python:  '3.10'
      dist:  focal
    - python:  '3.10'
      dist:  bionic
    - python:  '3.9'
    - python:  '3.9'
      dist:  bionic
    - python:  '3.8'
    - python:  '3.7'
    - python:  'nightly'
    - python:  '3.12-dev'
    - python:  '3.11-dev'
    - python:  '3.10-dev'
    - python:  '3.9-dev'
    - python:  '3.8-dev'
    - python:  '3.7-dev'

install:
 - pip install -U pytest tqdm

script:
  - echo "$TRAVIS_EVENT_TYPE"
  - echo "$DIST"
  - lsb_release -a
  - python --version --version
  - python ./test.py
  - pytest
  - python -m pytest -v -x -W always
