name: Test

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          windows-latest,
          macOS-latest,
          ubuntu-latest,
        ]

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v5
      - run: mkdir -p /tmp/bench && unzip names.txt.zip -d /tmp/bench
        shell: bash
      - run: ./all.sh
        shell: bash
      - run: mv all.csv all-${{ matrix.os }}.csv
        shell: bash
      - uses: actions/upload-artifact@v4
        with:
          name: results-${{ matrix.os }}
          path: all-${{ matrix.os }}.csv

  combine:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: results-*
          merge-multiple: true
      - uses: actions/upload-artifact@v4
        with:
          name: all-results
          path: "*.csv"
