on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [
          "3.13",
          "3.13t",  # add this!
          "3.14",
          "3.14t",  # add this!
        ]
        os: ["windows-latest", "macos-latest", "ubuntu-latest"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true  # needed for 3.14

      - run: |
          python --version --version
          python -c "import sys; print('sys._is_gil_enabled:', sys._is_gil_enabled())"
          python -c "import sysconfig; print('Py_GIL_DISABLED:', sysconfig.get_config_var('Py_GIL_DISABLED'))"
