name: Test

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [
          "pypy3.11",
          "3.10",
          "3.11",
          "3.12",
          "3.13",
          "3.14",
          "3.15",
          "3.13t",
          "3.14t",
          "3.15t",
          "3",
          "3.x",
        ]
        os: [
          windows-11-arm,
          windows-latest,
          windows-2022,
          windows-2025,
          macOS-latest,
          ubuntu-24.04-arm,
          ubuntu-latest,
        ]

    steps:
      - uses: actions/checkout@v6

      - run: |
          echo "github.event.pull_request.head.repo.full_name: ${{ github.event.pull_request.head.repo.full_name }}"
          echo "github.repository: ${{ github.repository }}"
          echo "github.event.repository.fork: ${{ github.event.repository.fork }}"

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
          cache: pip
          cache-dependency-path: .github/workflows/test.yml

      - name: Test
        run: |
          python3.14 --version --version
          python3.13 --version --version
          python3.12 --version --version
          python3.11 --version --version
          python3.10 --version --version
